<div class="container">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img
            ng-src="https://cdn.discordapp.com/attachments/819871715017883648/853236580886380554/not-found.png" alt='Not Found'
            style="width: 50%"
    />
    <br/><br/>
    <p class="modal-title">HALAMAN TIDAK DITEMUKAN</p>
    <a
            class="btn-lg btn-primary"
            href="#/"
    >
        <p style="font-size: 22px">Ke Halaman Utama</p>
    </a>
    </div>
</div>
